<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
</head>
<body>
<div th:switch="${classes}">
    <h2 th:case="null">No classes found!</h2>
    <div th:case="*">
        <h2>Classes</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Class</th>
                <th>Letter</th>
                <th>Class teacher(id)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aClass : ${classes}">
                <td th:text="${aClass.id}"></td>
                <td th:text="${aClass.classInt}"></td>
                <td th:text="${aClass.classChar}"></td>
                <td th:text="${aClass.teacherId}"></td>
                <td><a th:href="@{class-update/{id}(id=${aClass.id})}">Edit</a></td>
                <td><a th:href="@{class-delete/{id}(id=${aClass.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/clas-create">Create class</a></p>
    <h3>
        <p><a href="/teachers">Teachers</a></p>
        <p><a href="/pupils">Pupils</a></p>
        <p><a href="/subjects">Subjects</a></p>
        <p><a href="/grades">Grades</a></p>
    </h3>
</div>
</body>
</html>