<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Class</title>
</head>
<body>
<form action="#" th:action="@{/class-update}" th:object="${aClass}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="classInt">Class</label>
    <input type="text" th:field="*{classInt}" id="classInt" placeholder="Class">
    <br/>
    <label for="classChar">Letter</label>
    <input type="text" th:field="*{classChar}" id="classChar" placeholder="Letter">
    <br/>
    <label for="teacherId">Teacher</label>
    <input type="number" th:field="*{teacherId}" id="teacherId" placeholder="Teacher(id)">
    <br/>
    <input type="submit" value="Update Class">
</form>
</body>
</html>>