<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:h="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <style>
        input:invalid {border-color: red;}
        input:valid {border-color: green;}
    </style>
</head>
<body>
<form action="#" h:action="@{/clas-create}" h:object="${class_}" method="post">
    <label for="classInt">Input a class (integer value):</label>
    <br>
    <input type="number" min="1" max="11" step="1"
           id="classInt" name = "classInt" h:value="*{classInt}"  placeholder="Class"/>
    <br><br>
    <label for="classChar">Input a letter for the class:</label>
    <br>
    <input type="text" required pattern = "[абвгде]"
           id="classChar" name="classChar" h:value="*{classChar}"  placeholder="Letter"/>
    <br><br>
    <label>Select a class teacher:</label>
    <br>
    <select id = "class_1" name = "teacherId"/>
    <option value="">no teacher</option>
    <option  th:each="i:${teachers}"
             th:value="${i.id}"
             th:text="${i.lastName}+' '+${i.firstName}"
    />
    </select>
    <!--input list="teachers" name="teacherId" />
    <datalist id = "teachers" name = "teacherId">
    <option value="">no teacher</option>
    <option  th:each="i:${teachers}"
             th:value="${i.id}"
             th:text="${i.lastName}+' '+${i.firstName}"
    >text</option>
    </datalist-->

    <br><br>
    <!--input type="number" id="teacherId" name="teacherId" h:value="*{teacherId}"  placeholder="Teacher(id)"/-->
    <input type="submit" value="Create Class"/>
</form>
</body>
</html>