<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Class</title>
    <style>
        input:invalid {border-color: red;}
        input:valid {border-color: green;}
    </style>
</head>
<body>
<form action="#" th:action="@{/class-update}" th:object="${aClass}" method="post">
    <!--label for="id">ID</label-->

    <input hidden readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="classInt">Edit the class (integer value):</label>
    <br>
    <input type="number" th:field="*{classInt}" id="classInt" placeholder="Class"
           min="1" max="11" step="1">
    <br/><br/>
    <label for="classChar">Edit the letter for the class:</label>
    <br>
    <input type="text" th:field="*{classChar}" id="classChar" placeholder="Letter"
           required pattern = "[абвгде]">
    <br/><br/>
    <label>Select/change a class teacher:</label>
    <br>
    <select id = "class_1" name = "teacherId"/>
    <option value="">no teacher</option>
    <option  th:each="i:${teachers}"
             th:value="${i.id}"
             th:text="${i.lastName}+' '+${i.firstName}"
    />
    </select>
    <!--input type="number" th:field="*{teacherId}" id="teacherId" placeholder="Teacher(id)"-->
    <br/><br/>
    <input type="submit" value="Update Class">
</form>
</body>
</html>