<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Classes</title>
    <style type="text/css">

   TH {
    background: #b0e0e6; /* Цвет фона */
   }
   </style>
</head>
<body>
<nav class="nav nav-tabs">
    <a class="nav-item nav-link " href="/teachers">Teachers</a>
    <a class="nav-item nav-link active" href="/classes">Classes</a>
    <a class="nav-item nav-link" href="/pupils">Pupils</a>
    <a class="nav-item nav-link" href="/subjects">Subjects</a>
    <a class="nav-item nav-link" href="/grades">Grades</a>
</nav>
<div th:switch="${classes}">
    <h2 th:case="null">No classes found!</h2>
    <div th:case="*">
        <table  class="table table-striped table-bordered table-sm" >
            <thead>
            <tr>
                <th>No</th>
                <th>Class</th>
                <th>Class teacher</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i, it : ${classes}">
                <td th:text="${it.count}"></td>
                <td th:text="${i.classInt} + ${i.classChar}"></td>
                <td th:text="${i.teacher}"></td>
                <td><a class="btn btn-primary btn-sm"
                       role="button"
                       th:href="@{class-update/{id}(id=${i.id})}">Edit</a></td>
                <td><a class="btn btn-danger btn-sm"
                       role="button"
                       th:href="@{class-delete/{id}(id=${i.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/clas-create" class="btn btn-primary"
          role="button">
        Add a new class</a></p>
</div>
</body>
</html>