<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <style type="text/css">
    Table{
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 5px; /* Поля вокруг содержимого cells of таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
   </style>
</head>
<body>
<div th:switch="${classes}">
    <h2 th:case="null">No classes found!</h2>
    <div th:case="*">
        <h2>Classes</h2>
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>Class</th>
                <th>Class teacher</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i, it : ${classes}">
                <td th:text="${it.count}"></td>
                <td th:text="${i.classInt} + ${i.classChar}"></td>
                <td th:text="${i.teacher}"></td>
                <td><a th:href="@{class-update/{id}(id=${i.id})}">Edit</a></td>
                <td><a th:href="@{class-delete/{id}(id=${i.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/clas-create">Create class</a></p>
    <h3>
        <p><a href="/teachers">Teachers</a></p>
        <p><a href="/pupils">Pupils</a></p>
        <p><a href="/subjects">Subjects</a></p>
        <p><a href="/grades">Grades</a></p>
    </h3>
</div>
</body>
</html>