<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
</head>
<body>
    <form action="#" th:action="@{/grade-create}" th:object="${grade}" method="post"/>
    <label for="pupil">Pupil(id)</label>
    <input type="number" id="pupil" name="pupil" th:value="*{pupil}"  placeholder="Pupil(id)"/>
    <label for="subject">Subject(id)</label>
    <input type="number" id="subject" name="subject" th:value="*{subject}"  placeholder="Subject(id)"/>
    <label for="grade">Grade</label>
    <input type="number" id="grade" name="grade" th:value="*{grade}"  placeholder="Grade"/>
    <input type="submit" value="Add Grade"/>
    </form>
</body>
</html>