<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
</head>
<body>
<form action="#" th:action="@{/grade-update}" th:object="${grade}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="pupil">Pupil(id)</label>
    <input type="number" th:field="*{pupil}" id="pupil" placeholder="Pupil(id)">
    <br/>
    <label for="subject">Subject(id)</label>
    <input type="number" th:field="*{subject}" id="subject" placeholder="Subject(id)">
    <br/>
    <label for="grade">Grade</label>
    <input type="number" th:field="*{grade}" id="grade" placeholder="Grade">
    <br/>
    <input type="submit" value="Update Grade">
</form>
</body>
</html>