<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Classes</title>
    <style type="text/css">
        TH {
        background: #b0e0e6; /* Цвет фона */
        }
        #wordspacing{
            word-spacing: -1px;
            }

    </style>
</head>
<body>
<nav class="nav nav-tabs">
    <a class="nav-item nav-link active" href="/teachers">Teachers</a>
    <a class="nav-item nav-link" href="/classes">Classes</a>
    <a class="nav-item nav-link" href="/pupils">Pupils</a>
    <a class="nav-item nav-link" href="/subjects">Subjects</a>
    <a class="nav-item nav-link" href="/grades">Grades</a>
</nav>
<div th:switch="${classList}">
    <h2 th:case="null">No teachers found!</h2>
    <div th:case="*">
        <table id="myTable2" class="table table-striped table-bordered table-sm" >
            <thead>
            <tr>
                <th>No</th>
                <th><a th:href="@{'classes' + ${currentPage}+ '?sortField=classInt&sortDir=' + ${reverseSortDir}}">
                    Class</a></th>
                <th>Class teacher</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i, it : ${classList}">

                <td th:text="${it.count}+${currentPage-1}*${pageSize}"></td>

                <td th:text="${i.classInt} + ${i.classChar}"></td>
                <td th:text="${i.teacher}"></td>
                <td><a class="btn btn-primary btn-sm"
                       role="button"
                       th:href="@{class-update/{id}(id=${i.id})}">Edit</a></td>
                <td><a class="btn btn-danger btn-sm"
                       role="button"
                       th:href="@{class-delete/{id}(id=${i.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <div th:if = "${totalPages > 1}">
            <div class="row col-sm-10">

                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
<!--+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}-->
                <div class="col-sm-1">
                    <a th:if="${currentPage > 1}"
                       th:href="@{'classes'+${currentPage - 1}
                                    + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                        Prev
                    </a>
                    <span th:unless="${currentPage > 1}">Prev</span>
                </div>

                <div class="col-sm-3" id="wordspacing">
                    <!--at 18:37 https://www.youtube.com/watch?v=Aie8n12EFQc-->
                    <div th:if = "${(totalPages <= 10)}">
                        <span th:each="i: ${#numbers.sequence(1,totalPages)}">
                            <a th:if="${currentPage != i}"
                               th:href="@{'classes'+${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                                [[${i}]]
                            </a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span>
                            &nbsp; &nbsp;
                        </span>
                    </div>
                    <div th:if = "${(totalPages > 10)}">
                        <div th:if = "${(currentPage < 7)}">
                            <span th:each="i: ${#numbers.sequence(1,10)}">
                                <a th:if="${currentPage != i}"
                                   th:href="@{'classes'+${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                                    [[${i}]]
                                </a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span>
                                &nbsp; &nbsp;
                            </span>
                        </div>

                        <div th:if = "${currentPage >= 7}">
                            <div th:if = "${currentPage + 4 <= totalPages}">
                                <span th:each="i: ${#numbers.sequence(currentPage-5,currentPage+4)}">
                                    <a th:if="${currentPage != i}"
                                       th:href="@{'classes'+${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                                        [[${i}]]
                                    </a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                                    &nbsp; &nbsp;
                                </span>
                            </div>
                            <div th:if = "${currentPage + 4 > totalPages}">
                                <span th:each="i: ${#numbers.sequence(totalPages-9,totalPages)}">
                                    <a th:if="${currentPage != i}"
                                       th:href="@{'classes'+${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                                        [[${i}]]
                                    </a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                                    &nbsp; &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'classes'+${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                        Next
                    </a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'classes'+${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                        Last
                    </a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>

    </div>
    <p><a href="/clas-create" class="btn btn-primary"
          role="button">
        Add a new class</a></p>
</div>
</body>
</html>