<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/pupil-update}" th:object="${pupil}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
    <br/>
    <label for="classP">Class(id)</label>
    <input type="number" th:field="*{classP}" id="classP" placeholder="Class(id)">
    <br/>
    <input type="submit" value="Update Pupil">
</form>
</body>
</html>