<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Subject-create</title>
</head>
<body>
    <form action="#" th:action="@{/subject-create}" th:object="${subject}" method="post"/>
    <label for="subjectName">Subject</label>
    <input type="text" id="subjectName" name="subjectName" th:value="*{subjectName}"  placeholder="Subject"/>
    <label for="classId">Class(id)</label>
    <input type="number" id="classId" name="classId" th:value="*{classId}"  placeholder="Class(id)"/>
    <label for="teacherId">Teacher(id)</label>
    <input type="number" id="teacherId" name="teacherId" th:value="*{teacherId}"  placeholder="Teacher(id)"/>
    <input type="submit" value="Create Subject"/>
    </form>
</body>
</html>