<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
    <script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
    <style type="text/css">
    Table{
    width: auto; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    }
    TD, TH {
    padding: 5px; /* Поля вокруг содержимого cells of таблицы */
    border: 1px solid black; /* Параметры рамки */
    }
    TH {
    background: #b0e0e6; /* Цвет фона */
    }
    </style>
</head>
<body>
<div th:switch="${teachers}">
    <h2 th:case="null">No teachers found!</h2>
    <div th:case="*">
        <h2>Teachers</h2>
        <table id="myTable2">
            <thead>
            <tr>
                <th onclick="sortTable(0)">No</th>
                <th onclick="sortTable(1)">Last name</th>
                <th onclick="sortTable(2)">First name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i, it : ${teachers}">

                <td th:text="${it.count}"></td>

                <td th:text="${i.lastName}"></td>
                <td th:text="${i.firstName}"></td>
                <td><a th:href="@{teacher-update/{id}(id=${i.id})}">Edit</a></td>
                <td><a th:href="@{teacher-delete/{id}(id=${i.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/teacher-create">Add teacher</a></p>
    <h3>
        <p><a href="/classes">Classes</a></p>
        <p><a href="/pupils">Pupils</a></p>
        <p><a href="/subjects">Subjects</a></p>
        <p><a href="/grades">Grades</a></p>
    </h3>
</div>
</body>
</html>