<!DOCTYPE html>
<html lang="en" xmlns:h="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Teacher</title>
</head>
<body>
<form action="#" h:action="@{/teacher-create}" h:object="${teacher}" method="post">
    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName" h:value="*{lastName}"  placeholder="Last Name">
    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName" h:value="*{firstName}"  placeholder="First Name">
    <input type="submit" value="Create Teacher">
</form>
</body>
</html>